.el-override-input {
  .el-input__inner {
    border-radius: 0px !important;
    background:#fff;
  }
}
.is-current {
  background: #fff !important;
}
.location-dialog {
  .el-dialog__header {
    text-align: left;
  }
  .el-dialog__body {
    padding: 0;
  }
}
